@import url("/home/nekomangini/.cache/wal/colors-waybar.css");

window {
  font-family: "Iosevka", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: @background;
  border: 1px solid @color1;
  border-radius: 10px;
  padding: 20px;
  color: @foreground;
}

#input {
  margin: 5px;
  border: 1px solid @color1;
  background-color: @color0;
  color: @foreground;
  border-radius: 5px;
  padding: 8px;
}

#inner-box,
#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0;
  border: none;
}

#text {
  margin: 5px;
  color: @foreground;
}

#entry {
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin: 2px 0;
  color: @foreground;
}

#entry:focus {
  border: none;
}

#entry:selected {
  background-color: @color1;
  color: @background;
  font-weight: bold;
}

#text:selected {
  color: @background;
}

scrollbar {
  background-color: @color0;
  border-radius: 5px;
}

scrollbar slider {
  background-color: @color5;
  border-radius: 5px;
}
